body {
  background-color: #EAEAEA !important; 
}

/* NavBar styles */
.ui.top.fixed.menu {
  background: #1f4037;  /* old browsers */
  background: -webkit-linear-gradient(to right, #1f4037, #99f2c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1f4037, #99f2c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ui.borderless.menu {
  background: #EAEAEA;
}

.ui.segment {
  background:#EAEAEA;
}

/* Park Card styles */
.ui.card {
  background: #5C9980;
}

.ui.card > .content > .header, 
.ui.card > .content > .description {
  color: #EAEAEA;
}

.ui.card > .image {
  max-height:425px;
}

.map-outer {
  display: flex;
  justify-content: center;
}

.map-container {
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100%;
}

/* Home Page Styles */
.masthead {
  display: flex;
  align-items: center;
  height: 100vh;  
  background-image: linear-gradient(to right, #1f4037, #99f2c8) !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* calendar styles */
.react-calendar {
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.react-datepicker-wrapper {
  width: 100%;
}